*{
    /*border: 1px solid blue;*/
}

body,html{
    display: inline;
    background-color: #7a1501;
    width: 100%;
    height: 99vh;
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    padding: 0%;
    padding-top: 0.71%;
    float: left;
    width: 100%;
    height: 10%;
    text-align: center;
}

a{
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-left: 1%;
    padding-right: 1%;
    
    margin: -0.11%;
    
    text-decoration: none;
    color: black;
}

.navigation:hover{
    background-color: #f9da0c;
    
}

#sign_up{
    background-color: #f9da0c;
    color: #7a1501;
}

.nav{
    background-color: white;
    margin: 0%;
    padding: 0%;
    float: left;
    text-align: center;
    width: 100%;
    
}

.nav > .big_owl{
    max-width: 40%;
}

section{
    color: white;
    text-align: center;
    font-size: 150%;
    font-family: 'ciria';
}

h1,
h2{
    font-family: 'ciria';
    
}

.line{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid white;
}

.space_line{
    margin-top:2%;
    display: block;
    
}

footer{
    width: 100%;
    text-align: center;
    height:40%;
    color: white;
    
}

.box_1{
    float: left;
    height: inherit;
    width: 33.3%;
}

.left_split{
    height: 30%;
    border-left: 1px solid white;
    float: left;
}

.box_2{
    float: left;
    height: inherit;
    width: 33.3%;
}

.right_split{
    height: 30%;
    border-left: 1px solid white;
    float: left;
}

.box_3{
    float: right;
    height: inherit;
    width: 32%;
}
